*~
.idea/*
dataset/*
dataset-mini/*
dataset-full/*
dataset-sample/*
dataset-generated/*
dataset-generated2/*
info/*
errors/*
lstm/runs/*
*.db
*-journal
*.pyc
*.vec
*.txt*

correlation_clusters/bin/*
correlation_clusters/.temp/*
correlation_clusters/.temp
correlation_clusters/*~
correlation_clusters/.vscode

correlation_clusters/instances/*
correlation_clusters/.project
correlation_clusters/.cproject
correlation_clusters/.settings
